<!DOCTYPE html>
<html data-bs-theme="dark" lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="${material.name}"></title>
</head>

<head th:insert="blocks/head :: head"></head>

<body>
<div th:insert="blocks/nav :: nav"></div>
<main class="page catalog-page mt-5">
    <section class="clean-block clean-catalog dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info" th:text="${material.name}"></h2>
            </div>

            <div class="content rounded p-4">
                <div class="row">
                    <div class="col text-center">
                        <img class="rounded-5" th:src="${'/img/' + material.photo}"
                             style="max-width: 100%;max-height: 500px">
                        <a class="btn btn-primary w-100 mt-3" th:href="${'/img/' + material.file}"
                           target="_blank">Файл</a>
                    </div>
                    <div class="col">
                        <div th:if="${role == 'ADMIN'}" class="row mb-3">
                            <div class="col">
                                <a th:href="${'/materials/' + material.id + '/edit'}"
                                   class="btn btn-info w-100">Обновить</a>
                            </div>
                            <div class="col">
                                <a th:href="${'/materials/' + material.id + '/delete'}"
                                   class="btn btn-danger w-100">Удалить</a>
                            </div>
                        </div>
                        <p class="lead" th:text="${'Должность: ' + material.department.name}"></p>
                    </div>
                </div>
                <div th:if="${role == 'USER'}" class="text-center">
                    <hr>
                    <span class="lead" th:text="${'Процент прохождения: ~' + passing + '%'}"></span>
                </div>
                <hr>
                <form th:if="${role == 'ADMIN'}" th:action="${'/materials/' + material.id + '/tests/add'}"
                      method="post" class="mb-3">
                    <div class="row">
                        <div class="col">
                            <input type="text" required name="name" placeholder="Название" class="form-control">
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-primary" type="submit">Добавить тест</button>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div th:if="${role == 'ADMIN' || i.status}" th:each="i : ${material.tests}" class="col-6 mb-2">
                        <a class="btn btn-light w-100" th:href="${'/materials/' + material.id + '/tests/' + i.id}"
                           th:text="${i.name}"></a>
                    </div>
                </div>
            </div>

        </div>
    </section>
</main>

<script src="/js/bootstrap.min.js"></script>
<script src="/js/baguetteBox.min.js"></script>
<script src="/js/vanilla-zoom.js"></script>
<script src="/js/theme.js"></script>

</body>

</html>