<!DOCTYPE html>
<html data-bs-theme="dark" lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Добавить</title>
</head>

<head th:insert="blocks/head :: head"></head>

<body>
<div th:insert="blocks/nav :: nav"></div>
<main class="page catalog-page mt-5">
    <section class="clean-block clean-catalog dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Добавить</h2>
            </div>

            <div th:if="${message}" class="row">
                <div class="col"></div>
                <div class="col">
                    <div class="alert alert-light text-center" role="alert">
                        <strong th:text="${message}"></strong>
                    </div>
                </div>
                <div class="col"></div>
            </div>

            <div class="content rounded p-3">
                <form action="/materials/add" method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-6 mb-2">
                            <input type="text" class="form-control" required placeholder="Название" name="name">
                        </div>
                        <div class="col-6 mb-2">
                            <select name="departmentId" required class="form-select">
                                <option th:each="i : ${departments}" th:value="${i.id}" th:label="${i.name}"></option>
                            </select>
                        </div>
                        <div class="col-6">
                            <p class="lead">Фотография</p>
                            <input type="file" class="form-control" required name="photo" accept="image/*">
                        </div>
                        <div class="col-6">
                            <p class="lead">Файл</p>
                            <input type="file" class="form-control" required name="file" accept="image/*">
                        </div>
                        <div class="col mt-2">
                            <button type="submit" class="btn btn-primary w-100">Добавить</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </section>
</main>

<script src="/js/bootstrap.min.js"></script>
<script src="/js/baguetteBox.min.js"></script>
<script src="/js/vanilla-zoom.js"></script>
<script src="/js/theme.js"></script>

</body>

</html>