<!DOCTYPE html>
<html data-bs-theme="dark" lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="${test.name}"></title>
</head>

<head th:insert="blocks/head :: head"></head>

<body>
<div th:insert="blocks/nav :: nav"></div>
<main class="page catalog-page mt-5">
    <section class="clean-block clean-catalog dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info" th:text="${test.name}"></h2>
            </div>

            <div class="text-center mb-3">
                <a th:href="${'/materials/' + materialId}" class="btn btn-primary">Назад</a>
                <span th:if="${role == 'USER'}">
                    <a th:unless="${passing}" th:href="${'/materials/' + materialId + '/tests/' + testId + '/passing'}"
                       class="btn btn-primary">Начать аттестацию</a>
                </span>
                <a th:if="${role == 'ADMIN' and !test.status}"
                   th:href="${'/materials/' + materialId + '/tests/' + testId + '/delete'}"
                   class="btn btn-danger">Удалить тест</a>
            </div>

            <div class="content rounded p-4">
                <div class="row text-center">
                    <div class="col"><span class="lead" th:text="${'Минимальный балл: ' + test.minScore}"></span></div>
                    <div class="col"><span class="lead" th:text="${'Максимальный балл: ' + test.maxScore}"></span></div>
                </div>
                <div th:if="${role == 'ADMIN'}">
                    <hr>

                    <div class="row">
                        <div class="col text-center">
                            <span class="lead">Статус:
                                <span th:if="${test.status}" class="text-success">●</span>
                                <span th:unless="${test.status}" class="text-danger">●</span>
                            </span>
                        </div>
                        <div class="col">
                            <a th:href="${'/materials/' + materialId + '/tests/' + testId + '/status'}"
                               class="btn btn-primary w-100">Изменить статус</a>
                        </div>
                    </div>
                    <hr>
                    <form th:action="${'/materials/' + materialId + '/tests/' + testId + '/edit'}"
                          method="post">
                        <div class="row">
                            <div class="col">
                                <input type="text" required class="form-control" name="name" placeholder="Название"
                                       th:value="${test.name}">
                            </div>
                            <div class="col-auto">
                                <button class="btn btn-primary" type="submit">Обновить тест</button>
                            </div>
                        </div>
                    </form>
                    <hr>
                    <form th:action="${'/materials/' + materialId + '/tests/' + testId + '/questions/add'}"
                          method="post" th:unless="${test.status}">
                        <div class="row">
                            <div class="col">
                                <input type="text" required class="form-control" name="name" placeholder="Вопрос">
                            </div>
                            <div class="col-auto">
                                <button class="btn btn-primary" type="submit">Добавить</button>
                            </div>
                        </div>
                    </form>
                    <hr>
                    <div class="row">
                        <div th:each="i : ${test.questions}" class="col-6 mb-2">
                            <a class="btn btn-light w-100"
                               th:href="${'/materials/' + materialId + '/tests/' + testId + '/questions/' + i.id}"
                               th:text="${i.name}"></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</main>

<script src="/js/bootstrap.min.js"></script>
<script src="/js/baguetteBox.min.js"></script>
<script src="/js/vanilla-zoom.js"></script>
<script src="/js/theme.js"></script>

</body>

</html>